/* // P A L E T A
/////////////////////////
.color1 {color: #6534ab;}
.color2 {color: #c9257d;}
.color3 {color: #ff7f6c;}
.color4 {color: #ffda87;}
.color5 {color: #f4ffb9;}
/////////////////////////
.color1 {color: #55899e;}
.color2 {color: #d0acd5;}
.color3 {color: #e0c7cd;}
.color4 {color: #d8d8bb;}
.color5 {color: #f2f6ee;}
/////////////////////////
.color1 {color: #140f07;}
.color2 {color: #102f48;}
.color3 {color: #0a71a3;}
.color4 {color: #07b9ff;}
.color5 {color: #0efff9;}
*/
/*HTML/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20221026/pngtree-cute-seamless-pattern-with-cartoon-forest-raccoons-and-trees-image_1459222.jpg);
}
a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: rgb(24, 20, 255);
}
h4{
    color: #036de6;
    font-family: 'Montserrat', sans-serif;
}
.link{
    color: #441344;
}
.subtitulo{
    font-size: larger;
}
.guard{
    position: absolute;
    top: 50px;
    color: black;
    display:inline-block;
    padding-left: 20px;
}
#guard2{
    padding-left: 1000px;
}
.imgCreador{
    position: relative;
    display: inline;
}
/*Secciones//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
header{
    width: 1290px;
    height: 270px;
    background-color: rgb(221, 185, 255);
    border-radius: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
article{
    width: 1290px;
    border-radius: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: justify;
}
.creador{
    color: rgb(33, 14, 49);
    height: 760px;
    background-color: #ec9fff;
    display: inline-block;
}
.wh40k{
    color: rgb(220, 177, 255);
    height: 1050px;
    background-color: #ec9fff;
    background-image: url(../multimedia/img/Wh40k.jpeg);
    overflow: hidden;
}
.mapaches{
    color: rgb(0, 62, 143);
    height: 3380px;
    background-color: #ec9fffe7;
}
.AJR{
    height: 730px;
    background-image: url(../Multimedia/img/AJR.jpg);
}
.temaFav{
    height: 300px;  
    background-color: #ec9fff;
}
.dibujo{
    height: 700px;  
    background-color: #e8e3e9;
}
/*CAJAS DE TEXTO*/
/*Titulos//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.titlebox{
    position: relative;
    color: rgb(233, 206, 241);
    background-color: rgb(62, 36, 87);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    border: 10px double rgb(200, 25, 253);
    border-radius: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 50px;
}
#tituloPag{
    width: 500px;
    height: 200px;
}
#tituloCreador{
    width: 150px;
}
#wahgg{
    width: 200px;
}
#pelis{
    width: 300px;
}
#comida{
    width: 300px;
}
#personajes{
    width: 600px;
}
#AJR{
    width: 800px;
}
#tituloTemaFav{
    width: 300px;
}
#tituloDibujo{
    width: 700px;
}

/*texto simple/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.textbox{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: grid;
    justify-content: left;
    border-radius: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: inline-block;
}
#creador{  
    width: 450px;
    color: rgb(233, 206, 241);
    background-color: #c9257d;
    border: 10px double #ff7f6c;
}
#warhammer{
    width: 1180px;
    color: rgb(62, 36, 87);
    background-color: rgba(233, 206, 241, 0.829);
    justify-content: center;
    border: 10px double rgb(200, 25, 253);
}
#peliculas{
    width: 1180px;
    color: rgb(72, 0, 94);
    background-color: rgb(110, 0, 133);
    justify-content: center;
    border: 10px double rgb(69, 0, 71);
}
#link{
    width: 300px;
    color: rgb(231, 205, 255);
    background-color: rgb(33, 0, 65);
    justify-content: center;
    border: 10px double rgb(25, 0, 117);
    padding-top: 10px;
}
#pelitabla{
    margin:auto;
    width:680px;
    color: rgb(62, 36, 87);
    background-color: rgb(247, 208, 255);
    justify-content: center;
    border: 10px double rgb(25, 0, 117);
    padding-top: 20px;
    display: block;
}
#comidaList{
    margin:auto;
    width:250px;
    color: rgb(0, 0, 0);
    background-color: #ff7f6c;
    justify-content: center;
    border: 10px double rgb(255, 216, 40);
    padding-top: 20px;
    display: block;
}
#perimp{
    margin:auto;
    width:1080px;
    color: rgb(62, 36, 87);
    background-color: rgb(247, 208, 255);
    justify-content: center;
    border: 10px double rgb(25, 0, 117);
    padding-top: 20px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
#videoAJR{
    margin:auto;
    width:1080px;
    color: rgb(62, 36, 87);
    background-color: rgb(247, 208, 255);
    justify-content: center;
    border: 10px double rgb(25, 0, 117);
    padding-top: 20px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
#favoritos{
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    height: 70px;
    width:960px;
    color: rgb(62, 36, 87);
    background-color: rgb(247, 208, 255);
    justify-content: center;
    border: 10px double rgb(25, 0, 117);
    padding-top: 20px;    
}

#tema1{
    color: #102f48;
    background-color: #68bbff;
    border: 10px double #023f57;
    padding: 10px;
}
#tema2{
    color:#154368;
    background-color: #3191e0;
    border: 10px double #023d55;
    padding: 10px;
}
#tema3{
    color:#0b5796;
    background-color: #1986df;
    border: 10px double #004e6d;
    padding: 10px;
}
#tema4{
    color:#014b88;
    background-color: #2074b9;
    border: 10px double #005586;
    padding: 10px;
}
#tema5{
    color: #1071c0;
    background-color: #114b7a;
    border: 10px double #057aa8;
    padding: 10px;
}
#tema6{
    color: rgb(35, 125, 209);
    background-color: #143a58;
    border: 10px double #089bd4;
    padding: 10px;
}
#tema7{
    color: rgb(21, 135, 241);
    background-color: #102f48;
    border: 10px double #05abec;
    padding: 10px;
}
/*Dibujo//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#dib{
    width:1190px;
    height: 500px;
    color: rgb(62, 36, 87);
    background-color: rgb(247, 208, 255);
    border: 10px double rgb(25, 0, 117);
    justify-content: center;
    padding-top: 20px;
    display: block;
}
.elemento{
    padding: auto;
    display: grid;
}   
.pie{
    position: absolute;
    height: 80px;
    width: 100px;
    background-color: rgb(247, 247, 51);
    top:7430px;
}
#pie1{
    border-radius: 80% 0% 80% 0%;
    left: 560px;
}
#pie2{
    left: 700px;
    border-radius: 0% 80% 0% 80%;
}
.pansita{
    position: absolute;
    border-radius: 90% 90% 84% 84%;
}
#pan1{
    height: 300px;
    width: 200px;
    left: 575px;    
    background-color: rgb(34, 35, 36);
    top:7160px;
}
#pan2{
    height: 277px;
    width: 160px;
    left: 590px;    
    background-color: rgb(241, 248, 255);
    top:7180px;
}
.cabeza{
    position: absolute;
    height: 110px;
    width: 150px;
    background-color: rgb(37, 38, 39);
    top:7060px;
    left: 575px;
    border-radius: 100% 100% 90% 90%;
}
.ojos{
    position: absolute;
    height: 20px;
    width: 30px;
    background-color: white;
    top:7098px;
    border-radius: 100% 100% 100% 100%;
}
#ojo1{
    left: 660px;
}
#ojo2{
    left: 603px;
}
.ret{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: rgb(0, 0, 0);
    top:7105px;
    border-radius: 100% 100% 100% 100%;
}
#ret1{
    left: 610px;
}
#ret2{
    left: 665px;
}
.boca{
    position: absolute;
    top:7135px;
    height: 80px;
    width: 100px;
    background-color: rgb(189, 0, 0);
    border-radius: 250% 50% 250% 50%;
    left: 550px;
}
.brazo{
    position: absolute;
    height: 210px;
    width: 70px;
    background-color: rgb(36, 36, 36);
    top:7170px;
}
#br1{
    border-radius: 100% 30% 80% 30%;
    left: 560px;
    rotate: 20deg;
}
#br2{
    border-radius: 30% 80% 30% 80%;
    left: 730px;
    rotate: -20deg;
}